<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jennisimone.whatshouldiplay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_launch_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.add.AddGenre"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.add.Configuration" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.add.AddPlatform"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.add.Configuration" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.add.Configuration"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.MainActivity" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.library.GameDetail"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.library.GameLibrary" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.add.GameAdded"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.MainActivity" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.library.GameLibrary"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.library.LibrarySelection" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.add.AddGame"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.MainActivity" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.select.GameNameView"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.select.GameSelection" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.select.GameSelection"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.MainActivity" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.library.LibrarySelection"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.MainActivity" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.library.GameFilter"
            android:parentActivityName="com.jennisimone.whatshouldiplay.activity.library.LibrarySelection" />
        <activity
            android:name="com.jennisimone.whatshouldiplay.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>